html {
  scroll-behavior: smooth;
}
.marble {
  background-image: url('../img/IMG_0988.jpeg');
  background-size: cover;
}
.gill {
  font-family: "Gill Sans", sans-serif;
}
.edge {
  /*border-radius: 10px;*/
  border: top 1px grey;
  border: left 1px grey;
  border: right 1px grey;
}