h1 {
  text-align: center;
  color: black;
  background-color: white;
}
h3 {
  color: lightseagreen;
}
h4 {
  color: black;
}
body {
    background-image: url('../img/IMG_0988.jpeg');
    background-size: cover;
}
p {
  color: black;
}